@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Playfair+Display:ital,wght@0,500;1,500&family=Roboto:wght@500&display=swap');

body {
  background-image: linear-gradient(135deg, #F0DB4F 10%,  #323330 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: #333333;

}

.box-form {
  margin: 0 10%;
  width: 70%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  /* box-shadow: 0 0 20px 6px rgba(247, 244, 244, 0.522); */
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}




.typewriter h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


@media only screen and (max-width: 300px) {
  .box-form .left .overlay h1   {
    font-size: 12px;
  }
}

@media only screen and (min-width: 980px) {
  .box-form .left .overlay h1   {
    font-size: 90px;
  }

  
}

@media only screen and (max-width: 980px) {
  .box-form .left .right  {
    padding: 0;
    align-content: center;
  }
}
/* @media only screen and (max-width: 980px) {
  .box-form .left .overlay h1   {
    margin: auto 0;
    width: 100%;
  }
} */


@media only screen and (max-width: 700px) {
  .box-form .left .overlay h1   {
    font-size: 6px;
  }
}

@media only screen and (max-width: 768px) {
  .box-form .left .overlay h1  {
    font-size: 4px;
  }
}

.overlay
{
  border-radius: 0px 0px 40px 0px;
}





.box-form video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}


.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #3b5998;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  /* align-items: center;
  text-align: center; */
  padding: 40px;
  overflow: hidden;
  /* padding-right: 145px; */
}
@media (max-width: 980px) {
  .box-form .right {
    /* height: 100%;
    width: 100%; */
    /* padding-right: 190px; */
  }
}

@media (max-width: 600px) {
  .box-form .right {
    /* height: 100%;
    width: 100%; */
    /* padding-right: 190px; */
  }
}



.box-form .right h5 {
  font-size: 3vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #B0B3B9;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: right;
  color: #323330;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #181717a6;
  background-image: linear-gradient(135deg, #F0DB4F 95%,  #323330 5%);
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  border: 3px solid #F0DB4F;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: 'Roboto', sans-serif;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #70F570;
}

label:hover::before .text-checkbox {
  background: #F0DB4F;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  /* cursor: pointer; */
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}



/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
 
}
