.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}



.header{
    
    position: absolute;
}

.navbar {
    background: #F0DB4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0 0 75px 0px ;

    top: 0;
}



.hamburger {
    display: none;
    color:#0c0c0c;
}

.bar {
    background: rgb(240, 219, 79);
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1d1d1d;
}



.nav-menu {
    background: rgb(240, 219, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #1d1d1d;
}


.nav-logo {
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 10px;
    color: #1d1d1d;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #f3f3f3;
        color: #1d1d1d;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
