@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Playfair+Display:ital,wght@0,500;1,500&family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
  }
  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(240, 219, 79);;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(50, 51, 48);
	border: 2px solid #555555;
    border-radius: 15px;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}








/* 
nav {
    height: 80px;
    background: #7900FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);

    position: sticky;
    z-index: 100;
    top: 0;
  } */
  

nav button{
    text-decoration: none;
    color: rgb(50, 51, 48);
   
    padding: 0 1.5rem;
    transition: color 0.3s, border-bottom 0.3s;



    position: relative;

}






/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}






nav a {
    text-decoration: none;
    color: rgb(50, 51, 48);
   
    padding: 0 1.5rem;
    transition: color 0.3s, border-bottom 0.3s;



    position: relative;

}

nav a:hover{
    color: rgb(50, 51, 48);
    
   

}


nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(50, 51, 48);
    transition: width 0.3s ease;
}


nav a:hover::before{
    width: 100%;
}





.signlogo{
    color:rgb(50, 51, 48);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    

   
}


  #logo:hover
{
    animation: flipV 1s linear;
}


/* 
.hamburger-icon{
    display: none;
    cursor: pointer;
}
 */




 @media screen and (max-width: 768px) {
    .navbar img {
        display: none;
    }
}






.navbartop{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


@media screen and (max-width: 1080px) {
    .navbartop{
        display: none; 
       
        flex-direction: column;
        text-align: center;
        background-color: rgb(240, 219, 79);
        position: absolute;
        top: 80px; 
        left: 200px;
        
        
    }

    .hamburger-icon {
        display: block; 
    }

 
    .hamburger-icon img {
        width: 30px; 
        height: 30px;
    }
}
 


.navbartop.active {
    display: flex;
}





@media screen and (min-width: 768px) {
    .heroart {
        height: max-content;
    }
  }




@keyframes flipV {
    50%{
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
    
}



.logo{
    padding-left: 10px;
    cursor: pointer;
    
}



.logo-container {
    padding-left: 10px;
    display: flex; 
    align-items: center;

}


.heropage{
   background-color:  rgb(240, 219, 79);

}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}


.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    color: rgb(50, 51, 48);
    z-index: 0;
}


.left-hero h1{
    padding-bottom: 1rem;
    font-size: 3rem;

}

.left-hero p{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgb(50, 51, 48);
}

.right-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;

}

.right-hero img{
    transition: transform .2s;
    
    /* margin:0 auto; */
    
   
}

.right-hero img:hover{
    transform: scale(1.5);
}


.heroart{
    width: 25vw;

}


@media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }













/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: rgb(240, 219, 79);
}



.about{
    background-color: rgb(240, 219, 79);
}

.about-container{
    background-color: rgb(240, 219, 79);
    /* padding-top: 20px; */
    padding-bottom: 20px;
}


.aboutus{
    text-align: center;
    line-height: 0.8;
    /* padding-bottom: 5%;
    padding-top: 10%; */
    background-color: rgb(240, 219, 79);
    
}


.aboutus h1{
    line-height: 2;
    margin: 0 auto;

}

.aboutus p{
    line-height: 2;
    margin: 0 auto;

}


.header{
    z-index: 100;
}



.box p {
    color: rgb(50, 51, 48);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px rgba(100,100,150,1);
    padding: 30px;
    margin: 20px;  
    border: 2px solid #000;
    background-color: rgb(255, 255, 255);


    transition: transform .5s;
    cursor: pointer;
    
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 300px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
   
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 150px;
        
        
        
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
        
     
    }
    .header p {
        width: 20%;
    }
    
}





.box:hover{
    transform: scale(1.2);
}





.contact-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 0.7; */
    position: absolute;
    top: 0;
    display: flex;
    

    /* Centers Content Horizontally */
    justify-content: center; 
    

    /* Centers Content Vertically */
    align-items: center;
    z-index: 1000;
    display: none;
}




.contact-content{
    
    width: 500px;
    height: 450px;
    background-color:  #323330;
    border-radius: 20px;
    text-align: center;
    padding: 5%;
    align-content: center;
    padding: 20px;

    position: relative;
    
    
}




.contactimage{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 5%;
    
}




.button-form {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #F0DB4F;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-form:hover,
  .button-form:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-form:active {
    background: var(--color);
    color: rgb(50, 51, 48);
  }
  

input{
    width: 50%;
    display: block;
    margin :15px auto ;
}


label{
    font-size: 15px;
    color: #F0DB4F;
}

.close{
    position:absolute;
    top: 0;
    right: 14px;
    color: #F0DB4F;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;

}


.accordion-menu {
	display: inline-block;
    position: relative;
	left: 50%;
	margin: 0;
	transform: translate(-50%, 0);
	max-width: 1300px;
    padding: 20px 20px 20px;
	border-radius: 5px;
}
.faqtxt {
	font-size: 18px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: 1px;
	display: block;
	margin: 0;
    cursor: pointer;
    color: #6c6c6a;
}

.faqbg
{
    background-color: #F0DB4F;
    /* padding-bottom: 3rem; */
}


.accordion-menu p {
	color: rgba(48, 69, 92, 0.8);
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;
}
.accordion-menu ul {
	list-style: none;
	perspective: 900;
	padding: 0 20px 10px;
    margin: 0;
    background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 
	0 2px 2px 0 rgba(255, 255, 255, 0.19);
}
.accordion-menu ul li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
    border-top: 1px #dce7eb;
}

ul li:nth-child(1){ border:none; }
ul li:nth-of-type(1) { animation-delay: 0.5s; }
ul li:nth-of-type(2) { animation-delay: 0.75s; }
ul li:nth-of-type(3) { animation-delay: 1.0s; }
ul li:last-of-type { padding-bottom: 0; }

.accordion-menu ul li .arrow {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}
.accordion-menu ul li .fas{
	color:#F0DB4F;
	font-size: 15px;
	margin-right: 10px;
}
.accordion-menu ul li .arrow:before, ul li .arrow:after {
	content: "";
	position: absolute;
	background-color: #F0DB4F;
	width: 3px;
	height: 9px;
}
ul li .arrow:before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul li .arrow:after {
	transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
    z-index: 1;    
    opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .arrow:before {
	transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ .arrow:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
.transition, p, ul li .arrow:before, ul li .arrow:after {
	transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
	animation: flipdown 0.5s ease both;
}
.no-select, h2 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}
@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}

	5% { opacity: 1; }

	80% { transform: rotateX(8deg); }

	83% { transform: rotateX(6deg); }

	92% { transform: rotateX(-3deg); }

	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}

.faqheader 
{
    text-align: center;
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: var(--varyDarkBlue);
}





body{
    background-color:#0c0c0c;
    /* background-image: linear-gradient(30deg, #0f0f0f 12%, transparent 12.5%, transparent 87%, #0f0f0f 87.5%, #0f0f0f),
    linear-gradient(150deg, #0f0f0f 12%, transparent 12.5%, transparent 87%, #0f0f0f 87.5%, #0f0f0f),
    linear-gradient(30deg, #0f0f0f 12%, transparent 12.5%, transparent 87%, #0f0f0f 87.5%, #0f0f0f),
    linear-gradient(150deg, #0f0f0f 12%, transparent 12.5%, transparent 87%, #0f0f0f 87.5%, #0f0f0f),
    linear-gradient(60deg, #323330 25%, transparent 25.5%, transparent 75%, #323330 75%, #323330),
    linear-gradient(60deg, #323330 25%, transparent 25.5%, transparent 75%, #323330 75%, #323330);
    background-size:80px 140px; */
    /* background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */
}

.team_us
{
    border-radius: 20%;
    background-repeat: no-repeat;
}

.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  /* font-family: 'Yatra One', cursive; */
  font-size: 48px;
  color: #F0DB4F;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 10px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #F0DB4F;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}


/* @media (max-width: 844px) {
    .teams-container {
        display: none;
    }
} */



/* .teams{
    margin: 5rem 0;
}
.teams-container{
    text-align: center;
}
.teams-container h1{
    font-size: 2rem;
}
.teams-container .team-desc{
    font-size: 1.2rem;
    width: 600px;
    margin: 0 ;
    text-align: center;
    padding-top: 1rem;
}
.teams-wrapper li{
    list-style-type: none;
    background-color: #f3ab25;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 230px;
    border-radius: 5px;
}
.teams-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 5rem;
}

.team-image{
    width: 90px;
    
}

.teams-wrapper h3{
    padding-top: 1rem;
} */









footer {
    padding: 2rem;
    background-color:#0c0c0c;
    color: #F0DB4F;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }